*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.active{
    border: 2px solid rgb(255, 255, 255);
    background-color: yellow;
    color: red;
    padding: 10px;
}
#container{
    width: 100%;
    border: 1px solid red;
}
header{
    background-color: orangered;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header div{
    width: 47%;
}
header div img{
    width: 100%;
}
#navbar,#icons{
    display: none;
}

#herosection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: orangered;
    align-items: center;
}
.hero_child{
    width: 100%;
    margin: 10px;
}
.hero_child img{
    width: 80%;
}

#programs{
    display: flex;
    flex-wrap: wrap;
}
#uniqp{
    width: 100%;
    text-align: center;
}

.program_child{
    width: 100%;
    margin: 10px;
    border: 1px solid blue;
    box-shadow: 10px 10px 10px gray;
    border-radius: 20px;
    padding: 50px 0px;
}

#core, .core_child_parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.core_child{
    width: 100%;
}
#uniqc{
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.core_child_parent_img{
    width: 47%;
    margin: 5px;
}
.core_child_parent_img img{
    width: 100%;
    border-radius: 20px;
}
.core_child_parent_txt{
    width: 47%;
    margin: 5px;
}
#classes{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#uniqcl{
    width: 100%;
    text-align: center;
}
.classes_child{
    width: 100%;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
}
.classes_child img{
    width: 100%;
   
}
#smarty,#smarty_child_parent,footer{
     display: flex;
    flex-wrap: wrap;

}
#smarty_child_parent{
     justify-content: space-evenly;
}

.smarty_child{
    width: 100%;
    margin: 10px;
}
.smarty_subchild{
    width: 80%;
    border: 1px solid;
    margin: 10px;
box-shadow: 10px 10px 10px grey;
border-radius: 20px;
padding: 20px;
}
.list{
    width: 100%;
    margin: 10px;
}
#ftuniq{
    width: 100%;text-align: center;
}

@media only screen and (min-width:768px){
    header div img{
    width: 60%;
}
    #menubar{
        text-align: right;
    }
    .hero_child{
    width: 60%;
    text-align: center;
}
.program_child{
    width: 47%;
   
}
.core_child{
    width: 47%;
}
.classes_child{
    width: 47%;
}
.smarty_subchild{
    width: 40%;
    margin: 20px;
    height: 100px;
   
}

.list{
    width: 22%;
    margin: 10px;
}
#ftuniq{
    border-top: 1px solid black;
    padding: 30px 0px;
}
}

@media only screen and (min-width:1200px){
        header div img{
    width: 30%;
}
#navbar,#icons{
    display: block;
}
header div{
    width: 30%;
}
#menubar{
    display: none;
}
#navbar_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: white;
}
.hero_child{
    width: 47%;
}
.program_child{
    width: 23%;
   
}
.classes_child{
    width: 30%;
}
.smarty_child{
    width: 47%;
  
}
}